@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* 모바일 375픽셀을 기준으로 스케일이 유동적으로 변경 */
  /* 전체화면에 맞추려면 100vw */
  /* 부모요소에 맞추려면 100% */
  /* --scale: calc(100cqw / 375); */
  --scale: calc(100% / 375);
  --text-scale: calc(100vw / 375);
  --table-text-scale: calc(16 * var(--text-scale));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  main {
    > section {
      @apply min-h-screen;
      @apply max-w-md mx-auto;
    }
  }

  table {
    @apply text-center;
    @apply text-[clamp(0rem,var(--table-text-scale),1rem)];
    @apply pt-100;

    tr {
      @apply border-b;
    }

    th,
    td {
      @apply border-r border-r-zinc-300;
      /* @apply py-[var(--text-scale)]; */
      /* padding-block: calc(3px * var(--text-scale)); */
    }

    th:first-of-type {
      @apply border-r border-black;
    }

    th:last-of-type,
    td:last-of-type {
      @apply border-r border-black;
    }
  }
}
